*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9EFDB;
    text-align: center;
    padding: 5px;
}

img{
    width: 250px;
    height: 350px;
    border: solid 4px #9DBC98;
}

#projector{
    width:150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px 10px 15px 12px;
    border:none;
    
}

h1,h2,h3,h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px;
    margin: 5px;
}

a{
    font-size: 20px;
    padding: 15px;
    margin-left: 5px;
    margin-bottom: 50px;
    color: #638889
}

a:hover{
    background-color: #EBD9B4;
    color: #000;
    border-radius: 15px;
    font-size: 22px;
}

ol,ul{
    color: #093f23;
}

header{
    padding: 12px;
    margin: 5px;
}

hr{
    margin: 15px;
}